* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  text-align: center;
  color: hsl(0, 0%, 28%);
  font-size: 50px;
  font-weight: 800;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
  text-transform: uppercase;
}
h1 {
  padding: 20px;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 30%) 0,
    #883ff9 10%,
    hsl(0, 0%, 30%) 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: url("./images/bg23.gif");
  /* linear-gradient: (rgb(0, 0, 0), rgb(158, 19, 19)); */
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/ img {
  border-radius: 50%;
}
.background-image {
  opacity: 30%;
}
/* .navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
} */
.logo {
  width: 300px;
  cursor: pointer;
  background-position: center;
  margin-bottom: 20px;
  border: 3px;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.content1 {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1 {
  font-size: 70px;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #700c94;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-top: 35px;
  cursor: pointer;
  transition: 0.2s ease;
  margin: 15px;
}
span {
  background: #60049a;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover {
  box-shadow: 20px 20px 30px rgba(184, 99, 233, 0.26);
  color: antiquewhite;
}
@media (max-width: 529px) {
  .logo {
    width: 200px;
    height: 200px;
  }
}
